{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1"> 
    <title>RAMESH FOODS</title>
    <link href="{% static '' %}assets/images/favicon.png" rel="icon">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css'%}">
    <!-- owl css -->
    <link rel=" stylesheet " href="{% static 'assets/css/owl.carousel.min.css'%}">
    <!-- style css -->
    <link rel="stylesheet " href="{% static 'assets/css/style.css'%}">
    <!-- responsive-->
    <link rel="stylesheet " href="{% static  'assets/css/responsive.css'%}">
    <!-- awesome fontfamily -->
    <link rel="stylesheet " href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css ">
    
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js "></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js "></script>
</head>
<!-- body -->

<body class="main-layout ">
    <!-- loader  -->
    <div class="loader_bg ">
        <div class="loader "><img src="{% static '' %}assets/images/loading.gif" alt=" " /></div>
    </div>








    <div id="content ">
        <!-- header -->
        <header>
            <div class="container-fluid ">
                <div class="row ">
                    <div class="col-md-3 ">
                        <div class="full ">
                            <a class="logo " href="index.html ">

                            </a>
                        </div>
                    </div>
                    <div class="col-md-9 ">
                        <div class="full ">
                            <div class="right_header_info ">
                                <ul>
                                    <li class="dinone ">Contact Us :
                                        <img style="margin-right: 15px;margin-left: 15px; " src="{% static '' %}assets/images/phone_icon.png" alt="# "><a href="# ">987-654-3210</a></li>
                                    <li class="dinone "><img style="margin-right: 15px; " src="{% static '' %}assets/images/mail_icon.png" alt="# "><a href="# ">rameshfoods@gmail.com</a></li>
                                    <li class="dinone ">
                                        <img style="margin-right: 15px;height: 21px;position: relative;top: -2px; " src="{% static '' %}assets/images/location_icon.png" alt="# ">
                                        <a href="#">madhapur,Hyderaad</a>
                                    </li>
                                    <li class="button_user "><a class="button active " href="/ordernow">Order Now</a></li> 
                                    <!-- <li class="button_user "><a class="button active " href="/customerlogin">Login</a><a class="button " href="/customersignup">Register</a></li>  -->
                                    <!-- <button type="button" id="sidebarCollapse"> -->
                                    <!-- <img src="{% static '' %}assets/images/menu_icon.png" alt="#"> -->
                                    <!-- </button> -->
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- end header -->
        <!-- start slider section -->
        <div class="slider_section ">
            <div class="container ">
                <div class="row ">
                    <div class="col-md-12 ">
                        <div class="full ">
                            <div id="main_slider " class="carousel vert slide " data-ride="carousel " data-interval="5000 ">
                                <div class="carousel-inner ">
                                    <div class="carousel-item active ">
                                        <div class="row ">
                                            <div class="col-md-5 ">
                                                <div class="slider_cont ">
                                                    <h3> Ramesh Foods<br>That deliver near You</h3>
                                                    <p>It is a long established Restaurant that prepares and serves food and drinks to the customer.
                                                    </p>
                                                    <a class="main_bt_border " href="/ordernow">Order Now</a>
                                                </div>
                                            </div>
                                            <div class="col-md-7 ">
                                                <div class="slider_image full text_align_center ">
                                                    <img class="img-responsive " src="{% static '' %}assets/images/burger_slide.png" alt="# " />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end slider section -->















        <div class="bg_bg ">
            <!-- about -->
            <div class="about ">
                <div class="container ">
                    <div class="row ">
                        <div class="col-md-12 ">
                            <div class="title ">
                                <i><img src="{% static '' %}assets/images/title.png" alt="# "/></i>
                                <h2>About Our Food & Restaurant</h2>
                                <span>It is a long establshed 
                   <br> our Restaurant offers excellent foods, 
                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 ">
                            <div class="about_box ">
                                <h3>Best Food</h3>
                                <p>Restaurant provide you with different cuisines of food to satisfy your hunger.The fast-food restaurant provides your meals on the go to save your time at affordable prices.The ambiance that a restaurant provides you The
                                    restaurant is a place to enjoy your special occasions like Birthdays, Anniversaries.
                                </p>
                                <a href="# ">Read More <i class="fa fa-long-arrow-right " aria-hidden="true "></i></a>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-5 col-md-10 col-sm-12 about_img_boxpdnt ">
                            <div class="about_img ">
                                <figure><img src="{% static '' %}assets/images/south.jpg " alt="#/ "></figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end about -->

            <!-- blog -->
            <div class="blog ">
                <div class="container ">
                    <div class="row ">
                        <div class="col-md-12 ">
                            <div class="title ">
                                <i><img src="{% static '' %}assets/images/title.png" alt="# "/></i>
                                <h2>OUR RECEIPES</h2>
                                <span>RECEIPES PREAPARED BY OUR RESTAURANT</span>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mar_bottom ">
                            <div class="blog_box ">
                                <div class="blog_img_box ">
                                    <figure>
                                        <img src="{% static '' %}assets/images/blog_img1.png" alt="# " />
                                        <!-- <span>17 FEB 2019</span> -->
                                    </figure>
                                </div>
                                <h3>Spicy Burger</h3>
                                <p> A Spicy Burger is a sandwich consisting of one or more cooked patties of ground meat, usually beef, placed inside a sliced bread roll or bun. The patty may be pan fried, grilled, smoked or flame broiled.
                                </p>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mar_bottom ">
                            <div class="blog_box ">
                                <div class="blog_img_box ">
                                    <figure><img src="{% static '' %}assets/images/noodle.jpg" alt="# " />
                                        <!-- <span>18 FEB 2019</span> -->
                                    </figure>
                                </div>
                                <h3>Noodles</h3>
                                <p>Noodles are usually cooked in boiling water, sometimes with cooking oil or salt added. They are also often pan-fried or deep-fried. Noodle dishes can include a sauce or noodles can be put into soup. The material composition
                                    and geocultural origin is specific to each type of a wide variety of noodles. </p>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 ">
                            <div class="blog_box ">
                                <div class="blog_img_box ">
                                    <figure>
                                        <img src="{% static '' %}assets/images/blog_img3.png" alt="# " />
                                        <!-- <span>20 FEB 2019</span> -->
                                    </figure>
                                </div>
                                <h3>Pizza</h3>
                                <p>Pizza is a savory dish of Italian origin consisting of a usually round, flattened base of leavened wheat-based dough topped with tomatoes, cheese, and often various other ingredients which is then baked at a high temperature,
                                    traditionally in a wood-fired oven. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end blog -->

            <!-- Our Client -->
            <div class="Client ">
                <div class="container ">
                    <div class="row ">
                        <div class="col-md-12 ">
                            <div class="title ">
                                <i><img src="{% static '' %}assets/images/title.png" alt="# "/></i>
                                <h2>Our Client</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-6 offset-md-3 ">
                            <div class="Client_box ">
                                <h3>Vijay</h3>
                                <p>It’s a great experience. The ambiance is very welcoming and charming. Amazing wines, food and service. Staff are extremely knowledgeable and make great recommendations.</p>
                                <i><img src="{% static '' %}assets/images/client_icon.png" alt="# "/></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end Our Client -->
        </div>
        <!-- footer -->
        <fooetr>
            <div class="footer ">
                <div class="container-fluid ">
                    <div class="row ">
                        <div class=" col-md-12 ">
                            <h2>Request A<strong class="white "> Call  Back</strong></h2>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 ">

                            <form class="main_form ">
                                <div class="row ">

                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                                        <input class="form-control " placeholder="Name " type="text " name="Name ">
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                                        <input class="form-control " placeholder="Email " type="text " name="Email ">
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                                        <input class="form-control " placeholder="Phone " type="text " name="Phone ">
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                                        <textarea class="textarea " placeholder="Message " type="text " name="Message "></textarea>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                                        <button class="send ">Send</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 ">
                            <div class="img-box ">
                                <figure><img src="{% static '' %}assets/images/img.jpg" alt="img " /></figure>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-12 ">
                            <div class="footer_logo ">

                            </div>
                        </div>
                        <div class="col-md-12 ">
                            <ul class="lik ">
                                <li class="active "> <a href="">Home</a></li>
                                <li> <a href="about">About</a></li>
                                <li> <a href="receipe">Recipe</a></li>
                                <li> <a href="blog">Blog</a></li>
                                <li> <a href="contact">Contact us</a></li>
                            </ul>
                        </div>
                        <div class="col-md-12 ">
                            <div class="new ">
                                <h3>Newsletter</h3>
                                <form class="newtetter ">
                                    <input class="tetter " placeholder="Your email " type="text " name="Your email ">
                                    <button class="submit ">Subscribe</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copyright ">
                    <div class="container ">
                        <p>© 2021 All Rights Reserved. Designed by ...Jayaram Dudi...</a>
                        </p>
                    </div>
                </div>
            </div>
        </fooetr>
        <!-- end footer -->

    </div>
    </div>
    <div class="overlay "></div>
    <!-- Javascript files-->
    <!-- "{% static 'assets/css/bootstrap.min.css'%}" -->
    <script src="{% static 'assets/js/jquery.min.js'%}"></script>
    <script src="{% static 'assets/js/popper.min.js'%}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'assets/js/owl.carousel.min.js'%}"></script>
    <script src="{% static 'assets/js/custom.js'%}"></script>
    <script src="{% static 'assets/js/jquery.mCustomScrollbar.concat.min.js'%}"></script>

    <script src="{% static 'assets/js/jquery-3.0.0.min.js'%}"></script>
    <script type="text/javascript ">
        $(document).ready(function() {
            $("#sidebar ").mCustomScrollbar({
                theme: "minimal "
            });

            $('#dismiss, .overlay ').on('click ', function() {
                $('#sidebar ').removeClass('active ');
                $('.overlay ').removeClass('active ');
            });

            $('#sidebarCollapse ').on('click ', function() {
                $('#sidebar ').addClass('active ');
                $('.overlay ').addClass('active ');
                $('.collapse.in ').toggleClass('in ');
                $('a[aria-expanded=true] ').attr('aria-expanded ', 'false ');
            });
        });
    </script>

    <style>
        #owl-demo .item {
            margin: 3px;
        }
        
        #owl-demo .item img {
            display: block;
            width: 100%;
            height: auto;
        }
    </style>


    <script>
        $(document).ready(function() {
            var owl = $('.owl-carousel ');
            owl.owlCarousel({
                margin: 10,
                nav: true,
                loop: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 2
                    },
                    1000: {
                        items: 5
                    }
                }
            })
        })
    </script>

</body>

</html>

</html>